.App {
  height: 90vh;
  width: 80%;
  margin: 5vh auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat-join {

  &__title {
    text-align: center;
  }
  
  &__form {
    display: flex;
    justify-content: center;
  }
}

.chat-window {
  display: flex;
  height: 100%;
  max-width: 1000px;

  &__title {
    text-align: center;
    display: flex;

    & span {
      flex: 1;
    }
  }
}

.chat-window__main, .chat-window__thread {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  border: 1px solid gray;
  padding: 16px;

  & > .chat-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & > .chat-window-footer {
    width: 100%;
    display: flex;
  }

  .chat-message {
    &__container {
      display: flex;
      background-color: yellowgreen;
      padding: 16px;
      align-items: center;
      border-radius: 0.5rem;

      &.own-message {
        background-color: aliceblue;
      }
    }

    &__message {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__metadata {
      display: flex;
      gap: 16px;
      font-size: small;
      color: gray;
    }

    &__text {
      flex: 1;
    }
  }
}
